/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: black;
    background-color: #F2F2F2;
}


body {
    display: flex;
    justify-content: center;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

a:hover {
    color: #0065FC;
}

.boutons-filtres {
    font-weight: bold;
    
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
}

.hebergement-card img {
    width: 33%;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.hebergement-card .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-card .card-subtitle {
    margin: 0;
}

.hebergement-card .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards img {
    width: 33%;
    height: 136px;

}

.hebergements-cards .cartes-textes {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards {
    margin: 10px 0;
}

.hebergements-cards-card {
    width: 30%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.hebergements-cards-card article {
    width: 100%;
}

.hebergements-cards-card article img {
    width: 100%;
    object-fit: cover;
}

.afficher-plus {
    display: flex;
    align-items: center;
}



.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****** Activités ***********/

.activites {
    width: 100%;

}

.activites-cartes {
    display: flex;
    justify-content: space-between;

}

.activites-cartes img {
    width: 100%;
    height: 439px;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;

}

.activites-cartes .card-activites {
    display: flex;
    flex-direction: column;
}

.card-content-activite {
    padding: 20px, 19px, 20px, 19px;
    border-radius: 0px, 0px, 20px, 20px;
    gap: 10px;
    width: 297.5px;
    height: 59px;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    size: 16px;
}

.card-activites {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

/****** Footer ***********/

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.footer-title-one .footer-title-two .footer-title-three {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-title-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link-one {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
}

.footer-link-two {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.footer-link-three {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.footer-link-one .footer-link-two .footer-link-three{
    margin: 10px 0;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

.conteneur-recherche {
    display: flex;
    flex-direction: row;
}

.boutons-filtres {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.sous-sous-titres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filtres {
    display: flex;
}

.boutons-filtres li {
    border: 2px solid rgb(234, 234, 234);
    border-radius: 20px;
    padding: 10px;
    width: 130px;
    text-align: center;
}

.boutons-filtres li:hover {
  background-color: #DEEBFF;
}
.activites-cartes-card {
    width: 24%;
}

.fa-location-dot{
    padding: 14px;
    width: 20Px;
    text-align: center;
    border-radius: 12px 0 0 12px;
}

button{

    border-radius: 0 12px 12px 0;
    border: none;
    background: #0065FC;
    color: white;
    width: 100px;

}
input{
    border: 0.4px solid #F2F2F2;
    width: 220px;
}
input::placeholder{
    font-weight: 900;
    color: black;
    padding: 0 10px;
}
/* Le code ci-dessous correspond Ã  la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        flex-direction: column;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;

    }

    .card {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;

    }

  
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-activites {
        display: flex;
        justify-content: space-around;
    }

    /* .activites a {
        width: 20%;
    } */

    .main-container {
        padding: 0px 14px;
    }
    .populaires-cards{
        width: 100%;
    }
    .populaires-cards-card{
        width: 32%;
    }

    .activites-cartes-card{
        width: 24%;
    }

    .card-activites{
        width: 100%;
    
        /* height: 280px; */
    }
    .activites-cartes-card .card-activites img{
        width: 100%;
        height: 280px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .header{
        flex-direction: column;
    }

    .main-container{
        padding: 10 10;
    }

    .logo{   
        margin: 15px 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }       
    
    .filtres{
        display: flex;
        flex-direction: column;
    }
    
    .hebergements-and-populaires{
    display: flex;
    flex-direction: column-reverse;
    }

    .hebergements-cards{
        flex-direction: column;
    }

    .hebergements-cards-card{
        width: 100%;
        margin: 10px 0;
    }

    .hebergements-cards{
        margin: 0;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards-card{
        width: 100%;
    }


    .activites-cartes{
        flex-direction: column;
    }

    .activites-cartes-card, .card-activites{
        width: 100%;
    }
    
    .section-title {
        font-size: 1.1em;
    }
    
    .footer{
        flex-direction: column;
        padding: 0 0 0 0px;
    }

    .footer-titres{
        font-size: 1em;
    }

    .footer-content{
        font-size: 0.8em
    }

    .card-title {
        font-size: 1em;
    }

    .card-subtitle{
        font-size: 0.9em; 
    }
    .boutons-filtres{
        padding: 0;
    }

    .submit{
        
    }

}